altgraph==0.17.4
asgiref==3.8.1
autopep8==2.3.1
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
Django==4.2
django-crispy-forms==2.3
django-filter==24.3
django-silk==5.3.2
djangorestframework==3.15.2
gprof2dot==2024.6.6
idna==3.10
instaloader==4.13.2
keyboard==0.13.5
Markdown==3.7
numpy==2.1.1
packaging==24.2
pafy==0.5.5
pandas==2.2.2
pefile==2023.2.7
pillow==11.0.0
pycodestyle==2.12.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==76.0.0
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.3
youtube-dl==2021.12.17
